.lesson {
  background-color: lemonchiffon;
  text-align: center;
}

.title, header {
  color: black;
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: blue;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}

header nav ul li {
  float: right;
  display: inline-block;
  margin-right: 20px;
  padding-top: 15px;

}
